<td>
	<%= link_to repair do %>
		<i class="fa fa-eye"></i>
	<% end %>
	|
	<%= link_to edit_repair_path(repair) do %>
		<i class="fa fa-pencil-square-o"></i>
	<% end %>
	|
	<%= link_to '#' do %>
		<i class="fa fa-credit-card"></i>
	<% end %>
</td>