// Place all the styles related to the repairs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.details ul {
	width: 485px;
	li {
		margin: 10px;
	}
}

.repairstable {
	max-height: 396px;
	overflow: auto;
	width: 500px;
}
.info ul {
	list-style: none;
}

.indextable {
	width: 920px !important;
	td {
		padding: 10px;
	}
}

.number {
	font-weight: normal;
	font-size: 20px;
}

.top {
	line-height: 35px;
}

section {
	overflow: hidden !important;
}

#search {
	width: 250px;
}





