<% provide(:title, "Checkout") %>
<h1><i class="fa fa-credit-card"></i> Complete repair</h1>
<div class="row">
	<div class="span6 well pull-left cart">
		<div>
		<ul class="nav nav-tabs">
			<li class="active"><a href="#addLine" data-toggle="tab"><i class="fa fa-plus"> Add line</i></a></li>
			<li><a href="#cart" data-toggle="tab"><i class="fa fa-shopping-cart"> Cart</i></a></li>
			<li><a href="#payment" data-toggle="tab"><i class="fa fa-credit-card"> Payment</i></a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="addLine">
				<form>
					<label>Title</label>
					<input type="text" placeholder="Title">
					<label>Description</label>
					<input type="text" placeholder="Description">
					<label>Quantity</label>
					<input type="number" placeholder="0">
					<label>Amount</label>
					<div class="input-prepend">
						<span class="add-on">$</span>
						<input class="input-large" id="prependedInput" type="number" placeholder="0">
					</div>
					<label class="checkbox">
						<input type="checkbox"> Taxable
						<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"> Add</i></button>
					</label>
				</form>
			</div>
			<div class="tab-pane" id="cart"><p>Cart</p></div>
			<div class="tab-pane" id="payment"><p>Payment</p></div>
		</div>
	</div>
	</div>
	<div class="span4 well pull-right price">
		<div class="title">
		<p class="text-left"><i class="fa fa-money"></i> Price</p>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Qty</th>
				<th>Title</th>
				<th>Price</th>
				<th>Subtotal</th>
			</tr>
		</thead>
	</table>
	<ul class="total clearfix">
		<li>
			<span>Subtotal:</span>
			<span class="pull-right">$0.00</span>
		</li>
		<li>
			<span>Store credit:</span>
			<span class="pull-right">$0.00</span>
		</li>
		<li>
			<span>Tax <small>(0.07%)</small></span>
			<span class="pull-right">$0.00</span>
		</li>
		<li>
			<span><b>Total:</b></span>
			<span class="pull-right"><b>$0.00</b></span>
		</li>
	</ul>
	<hr>
	<ul class="payment clearfix">
		<li>
			<span>Cash:</span>
			<span class="pull-right">$0.00</span>
		</li>
	</ul>
	<hr>
	<div class="clearfix">
		<p class="lead pull-left">Amount due:</p>
		<p class="lead pull-right">$0.00</p>
	</div>
	</div>
</div>