<% provide(:title, "Checkout") %>
<h1><i class="fa fa-credit-card"></i> Complete repair</h1>
<div class="row">
	<div class="span6 well pull-left cart">
		<div>
		<ul class="nav nav-tabs">
			<li class="active"><a href="#addLine" data-toggle="tab"><i class="fa fa-plus"> Add line</i></a></li>
			<li><a href="#cart" data-toggle="tab"><i class="fa fa-shopping-cart"> Cart</i></a></li>
			<li><a href="#payment" data-toggle="tab"><i class="fa fa-credit-card"> Payment</i></a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="addLine">
				<form>
					<label>Title</label>
					<input type="text" placeholder="Title" autofocus=true>
					<label>Quantity</label>
					<input type="number" placeholder="0">
					<label>Amount</label>
					<div class="input-prepend">
						<span class="add-on">$</span>
						<input class="prependedInput" type="number" placeholder="0">
					</div>
					<label class="checkbox">
						<input type="checkbox" checked> Taxable
						<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"> Add</i></button>
					</label>
				</form>
			</div>
			<div class="tab-pane" id="cart">
				<table class="table">
					<thead>
						<tr>
							<th>Qty</th>
							<th>Title</th>
							<th>Price</th>
							<th>Subtotal</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="tab-pane" id="payment">
				<div class="cash well">
					<div>
						<p class="lead text-left">Cash</p>
					</div>
					<div class="btn-group">
						<a href="#" class="btn">.01</a>
						<a href="#" class="btn">.05</a>
						<a href="#" class="btn">.10</a>
						<a href="#" class="btn">.25</a>
						<a href="#" class="btn">$1</a>
						<a href="#" class="btn">$5</a>
						<a href="#" class="btn">$10</a>
						<a href="#" class="btn">$20</a>
						<a href="#" class="btn">$50</a>
						<a href="#" class="btn">$100</a>
					</div>
					<hr>
					<div class="input-prepend">
						<span class="add-on"><a href="#">Amount due:</a></span>
						<input class="prependedInput" type="number" placeholder="0.00">
					</div>
				</div>
				<div class="card well">
					<div>
						<p class="lead pull-left">Credit card</p>
					</div>
					<div class="input-prepend">
						<span class="add-on"><a href="#">Amount due:</a></span>
						<input class="prependedInput" type="number" placeholder="0.00">
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="span4 well pull-right price">
		<div class="title">
		<p class="text-left"><i class="fa fa-money"></i> Price</p>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Qty</th>
				<th>Title</th>
				<th>Price</th>
				<th>Subtotal</th>
			</tr>
		</thead>
	</table>
	<ul class="total clearfix">
		<li>
			<span>Subtotal:</span>
			<span class="pull-right">$0.00</span>
		</li>
		<li>
			<span>Tax <small>(0.07%)</small></span>
			<span class="pull-right">$0.00</span>
		</li>
		<li>
			<span><b>Total:</b></span>
			<span class="pull-right"><b>$0.00</b></span>
		</li>
	</ul>
	<hr>
	<ul class="payment clearfix">
		<li>
			<span>Cash:</span>
			<span class="pull-right">$0.00</span>
		</li>
	</ul>
	<hr>
	<div class="clearfix">
		<p class="lead pull-left">Amount due:</p>
		<p class="lead pull-right">$0.00</p>
	</div>
	</div>
</div>